<section class="new-user" ng-controller="NewUserController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Alta Usuario</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-12 well">
                        <form class="form-horizontal" name="vm.newUserForm" novalidate>
                            <fielset>
                                <legend>Datos generales</legend>
                                <div class="form-group" ng-class="vm.newUserForm.name.$invalid ? 'has-error' : ''">
                                    <label class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-3">
                                        <input type="text" name="name" class="form-control" ng-model="vm.user.name" required ng-maxlength="20" minlength="7">
                                        <div ng-messages="vm.newUserForm.name.$error">
                                            <p ng-message="required" class="help-block text-danger">Campo obligatorio</p>
                                            <p ng-message="maxlength" class="help-block text-danger">Maximo 20</p>
                                            <p ng-message="minlength" class="help-block text-danger">Min 7</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Apellidos</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" ng-model="vm.user.surname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Fecha de nacimiento</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" ng-model="vm.user.birthdate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Departamento</label>
                                    <div class="col-lg-3">
                                        <select class="form-control" ng-model="vm.user.department">
                                            <option value="0">Programación</option>
                                            <option value="1">RRHH</option>
                                            <option value="2">Ecofin</option>
                                            <option value="3">Comercial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Puesto</label>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" ng-model="vm.user.job">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Salario</label>
                                    <div class="col-lg-3">
                                        <input type="number" class="form-control" ng-model="vm.user.salary" max="1000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Foto</label>
                                    <div class="col-lg-3">
                                        <input type="file" onchange="angular.element(this).scope().vm.fileChange(this)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Observaciones</label>
                                    <div class="col-lg-3">
                                            <textarea rows="6" class="form-control" ng-model="vm.user.observations">
                                            </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-primary" ng-click="vm.send()">Crear</button>
                                    </div>
                                </div>
                            </fielset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
